.boton {
  width: 150px;
  font-size: 25px;
  border-style: none;
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
  height: 90px;
  position: fixed;
  right: 0;
  top: 200px;
  background-color: #dac510;
  box-shadow: inset 0px 1px 0px #827066, 0px 3px 0px #19120f, 0px 6px 3px #382e29;
}

.boton:hover {
  background-color: #bb9108;
  color: white;
}

.botonmenu:hover {
  background-color: #dac510;
  color: rgb(0, 0, 0);
}

.descripcion {
  height: 25px;
  overflow: hidden;
  font-size: 15px;
  transition: height .3s ease-in .3s;
}

.descripcion:hover{
  height: 100px;
}

.texto {
  font-family: 'Rubik Mono One', sans-serif;
}

.margen {
  padding: 20px;
}

.margen2 {
  margin: 15px;
}

.carritodrop {
  position: fixed;
  background-color: white;
  border-radius: 15px;
  right: 0;
  padding: 15px;
}

@media only screen and (max-width: 420px) {
  .boton {
    background-color: #dac510;
    width: 100px;
    font-size: 15px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    height: 70px;
  }

  .boton:focus {
    background-color: #bb9108;
    color: white;
  }

  .footer {
    position: absolute;
    bottom: 0%;
  }

  .carrusel {
    padding-top: 30%;
  }
}
